<div class="row">
	<div class="small-7 columns">
		<!-- Main content goes here -->
		<%= render :partial => "active_students"%>
		<br />
		<%= link_to "Add a new student", new_student_path, class: "button tiny radius" %>
	</div>

	<div class="small-1 columns">
		&nbsp;
	</div>

	<div class="small-4 columns">
		<!-- Sidebar content goes here -->
		<%= render partial: 'inactive_students' %>
	</div>


</div>