<div class="row">
	<div class="small-8 columns">
		<!-- Main content goes here -->
	</div>

	<div class ="small-1 columns">
		&nbsp;
	</div>

	<div class = "small-7 columns">
		<!-- Sidebar Content goes here -->
	</div>
</div>