<%unless @family_students.empty? %>
	<div class="panel clearfix">
		<h5>Students</h5>
		<ul class="side-nav">
			<%@family_students.each do |student| %>
				<li><%= link_to student.proper_name, student_path(student) %></li>
			<%end%>
		</ul>
	</div>
<%end%>