<% if Camp.upcoming.empty? %> 
  <em> There are no upcoming camps </em>
<% else %> 
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
			<th>Date</th>
      <th>Instructor</th>
    </tr>
  </thead>
  <tbody>
    <% Camp.upcoming.each do |camp| %>
      <tr>
        <td> <%= link_to camp.name, camp_path(camp.id) %> </td>
				<td> <%= camp.start_date.strftime("%m/%d/%y") %> </td>
        <td>
          <% camp.instructors.each do |instructor| %>
             <%= link_to instructor.first_name, instructor_path(instructor.id)%> <br />
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>