<h2><font color = "white">Hello Administrator <%= current_user.username.capitalize %>! </font></h2>
<br/>
  <div class="small-7 columns">
    <div class="panel clearfix">
    <h4>User Info</h4>
	<%= render :partial => 'partials/user_details' %>
</div>

<div class="panel clearfix">
    <h4>Unpaid Registrations</h4>
	<%= render :partial => 'partials/payment_info' %>
  </div>
</div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    <div class="panel clearfix">
    <h4>Upcoming Camps</h4>

    <%= render partial: 'partials/upcoming_camps' %>
  </div>