<div class="row">
	<div class="span8">
	<div class="panel clearfix">
	<p style="font-size:20px">
		<font color="black">
			This Chess Camp is here for you to add curriculums, camps, and instructors to the database in order to make managing your camp more effective and easy. Good luck with your classes and we can't wait for chess camp to start for you and your students!
		</font>
		<font color="white">
			<%=link_to "Login Here!", login_path %>
		</font>
	</p
	</div>

</div>