<h2>Hello Instructor<%= current_user.instructor.first_name %>! </h2>
<br/>
<div class="row">
	<div class="span4">
	    <div class="panel clearfix">
	  <h4>Instructor Info</h4>
	  <%= render :partial => 'partials/user_details' %>
	</div>

	</div>

	<div class="span8">
		<div class="panel clearfix">
	  <h4>Upcoming Camps</h4>
	  <%= render :partial => 'partials/instructor_upcoming_camps' %>
	</div>
	  <br>
	  <br>
	</div>
</div>
