
		<head>
			<style>
				body 
				{
				background-image:url('/assets/0225.jpg');
				background-size:cover;
				background-repeat:no-repeat;
				}
			</style>
		</head>
		<body>
			<h1><font color = "white">About Us</font></h1>

			<p>	<font color = "white"> <p style="font-size:20px">
				We know how much you love teaching chess. We want to make this a simple and visually appealing process for you. If you don't like the design or usability of the website feel free to contact us and give us suggestions!
			</p></font></p>
		</body>
