
  <head>
    <style>
      body 
      {
      background-image:url('/assets/0225.jpg');
      background-size:cover;
      background-repeat:no-repeat;
      }
    </style>
  </head>
  <font color = "white">
    <h1><font color = "white">Contact Us</font></h1>
    <p style="font-size:30px">
    <p> Unfortunately, there's only so many design skills I know and if you're not happy with the website it'll take at least a month for me to change it. I'll do my best and my information is below in case you want to tell me how much you love the website:</p>
    </p>

    <table cellpadding="3">
      <tr>
        <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
        <td>Sanika Natu</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>
        <%= mail_to("natu.sanika@gmail.com", "Master Programmer", encode: "javascript") %> 
        </td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>650-224-3595</td>
      </tr>
    </table>
  </font>
