<div id = "main_content">
  <!DOCTYPE html>
    <html>
      <head>
        <style>
          body 
          {
          background-image:url('/assets/0225.jpg');
          background-size:cover;
          background-repeat:no-repeat;
          }
        </style>
      </head>
      <body>  
        <h1><font color = "white">The Chess Camp Privacy Policy</font></h1>
        <font color = "white">
          <p>Our privacy policy is simple and we want to make sure that all of your information is secure and confidential. Everything is on Sanika's computer and unless she gets her computer stolen there's really no reason to worry.
            <br><br>
            It's really that simple.
          </p>
        </font>
      </body>
  </html>
</div>