<div class="row">
  <div class="small-7 columns">
    <%= render :partial => "location_details" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
  </div>
</div>